body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Sans-Serif; }
  body .mobile {
    display: none; }
  @media screen and (max-width: 600px) {
    body .side {
      display: none; }
      body .side li {
        float: none;
        display: none; }
    body .main-container {
      position: relative;
      margin: 0 !important;
      margin-left: 2% !important;
      width: 90% !important;
      text-align: center; }
    body .mobile {
      display: block;
      width: 100%; }
      body .mobile ul {
        text-align: center; }
        body .mobile ul li {
          float: none;
          margin-left: -40px;
          padding: 10px;
          width: 100%;
          background-color: blue;
          display: inline-block;
          cursor: pointer;
          list-style: none;
          text-align: center;
          font-size: 18px; }
          body .mobile ul li a {
            text-decoration: none;
            color: white; }
        body .mobile ul li:hover {
          background-color: white; }
          body .mobile ul li:hover a {
            color: black; } }
  body .side {
    position: absolute;
    float: left;
    margin: 0; }
    body .side ul li {
      margin-left: -5px;
      padding: 10px;
      background-color: blue;
      font-size: 20px;
      cursor: pointer;
      list-style: none; }
      body .side ul li a {
        text-decoration: none;
        color: white; }
    body .side ul li:first-child {
      background-color: white;
      color: black;
      text-align: center; }
      body .side ul li:first-child img {
        height: 40px;
        width: 40px; }
    body .side ul li:hover {
      background-color: white; }
      body .side ul li:hover a {
        color: black; }
  body .main-container {
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    overflow: auto;
    width: 80%;
    margin-top: 80px;
    margin-left: 150px;
    position: absolute; }
    body .main-container .model-title {
      background-color: blue;
      padding: 2px; }
    body .main-container i {
      margin: 10px;
      float: right;
      font-size: 14px; }
    body .main-container h2, body .main-container h1 {
      text-align: center;
      color: white; }
    body .main-container .entry {
      margin: 10px;
      padding: 10px;
      background-color: white; }
      body .main-container .entry .title-entry {
        padding: 2px;
        background-color: green; }
      body .main-container .entry .content {
        margin-top: 40px; }
    body .main-container a {
      font-size: 14px;
      text-decoration: none; }
    body .main-container a:visited {
      color: blue; }
    body .main-container a:hover {
      text-decoration: underline;
      color: red; }
