body{
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Sans-Serif;

	.mobile{
		display: none;
	}

	@media screen and (max-width: 600px){
	    .side{
	    	display: none;

	    	li{
	    		float: none;
	    		display: none;
	    	}
	    }

	    .main-container{
	    	position: relative;
	    	margin: 0 !important;
	    	margin-left: 2% !important;
	    	width: 90% !important;
	    	text-align: center;
	    }

    	.mobile{
    		display: block;
			width: 100%;

			ul{
				text-align: center;

				li{
					float: none;
					margin-left: -40px;
					padding: 10px;
					width: 100%;
					background-color: blue;
					display: inline-block;
					cursor: pointer;
					list-style: none;
					text-align: center;
					font-size: 18px;

					a{
						text-decoration: none;
						color: white;
					}
				}

				li:hover{
					background-color: white;

					a{
						color: black;
					}
				}
			}
    	}
	}

	.side{
		position: absolute;
		float: left;
		margin: 0;

		ul{

			li{
				margin-left: -5px;
				padding: 10px;
				background-color: blue;
				font-size: 20px;
				cursor: pointer;
				list-style: none;

				a{
					text-decoration: none;
					color: white;
				}
			}

			li:first-child{
				background-color: white;
				color: black;
				text-align: center;

				img{
					height: 40px;
					width: 40px;
				}
			}

			li:hover{
				background-color: white;

				a{
					color: black;
				}
			}
		}
	}

	.main-container{
		background-color: #D3D3D3;
		border-radius: 10px;
		padding: 10px;
		height: 100%;
		overflow: auto;
		width: 80%;
		margin-top: 80px;
		margin-left: 150px;
		position: absolute;

		.model-title{
			background-color: blue;
			padding: 2px;
		}

		i{
			margin: 10px;
			float: right;
			font-size: 14px;
		}

		h2, h1{
			text-align: center;
			color: white;
		}

		.entry{
			margin: 10px;
			padding: 10px;
			background-color: white;

			.title-entry{
				padding: 2px;
				background-color: green;
			}

			.content{
				margin-top: 40px;
			}
		}

		a{
			font-size: 14px;
			text-decoration: none;
		}

		a:visited{
			color: blue;
		}

		a:hover{
			text-decoration: underline;
			color: red;
		}
	}
}