<% _.each(collection, function(model) { %>

	<div class="model-title" id="<%-model.type%>">
		<h1><%-model.title%></h1>
	</div>

	<% _.each(model.entries, function(entry, i) { %>

		<div class="entry">
			<div class="title-entry">
				<h2><%-entry.title%></h2>
			</div>

			<i><%-entry.publishedDate.split(' ').splice(0, 5).toString().replace(/,/g, ' ')%></i>

			<p class="content"><%-entry.content%></p>

			<% if (entry.mediaGroups) { %>
				<p><img src="<%-entry.mediaGroups[0].contents[0].url%>"></p>
			<% } %>

			<p>
				<a href="<%-entry.link%>" target="_blank">Full Story</a>
			</p>
		</div>
			
	<% }); %>

<% }); %>	